@page

@model IndexModel

@{
    ViewData["Title"] = "Vy Log Parser";
}

<div class="row mt-2">
    <div class="col-12">
        <label class="col-form-label">Select File</label>
        <input id="fileupload" type="file" name="fileupload" class="form-control" />
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <button id="upload-button" onclick="uploadFile()" class="btn btn-success">Upload</button>
    </div>
</div>

<script type="text/javascript">
    async function uploadFile() {
        let formData = new FormData();           
        formData.append("file", fileupload.files[0]);
        await fetch('https://localhost:7256/api/Upload', {
            method: "POST", 
            body: formData
        }).then(x=>console.log(x.status));    
    }
</script>