@page
@model IndexModel

@{
    ViewData["Title"] = "Upload File";
}

<div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" class="mb-3">
    <p>Drag EPi zip file here ...</p>
</div>

<div id="result" style="display: none;">
    <br/>
    <div class="card text-white bg-success mb-3">
        <div class="card-header">Parse results</div>
        <div class="card-body">
            <h5 class="card-title">Summary</h5>
            <p id="summary" class="card-text"></p>
            <h5 class="card-title">Files available for download</h5>
            <p id="files" class="card-text"></p>
        </div>
    </div>
</div>

<script type="text/javascript">
    function dragOverHandler(ev) {
        ev.preventDefault();
    }

    function dropHandler(ev) {
        ev.preventDefault();

        let formData = new FormData();

        if (ev.dataTransfer.items) {
            for (let item = 0; item < ev.dataTransfer.items.length; item++) {
                if (ev.dataTransfer.items[item].kind === 'file') {
                    const file = ev.dataTransfer.items[item].getAsFile();
                    formData.append("file", file);
                }
            }
        } else {
            for (let file = 0; file < ev.dataTransfer.files.length; file++) {
                formData.append("file", ev.dataTransfer.files[file]);
            }
        }

        fetch('https://localhost:7256/api/Upload', {
            method: "POST",
            body: formData
        }).then(response => response.json())
            .then((data) => {
                var resultContainer = $("#result");
                var summaryContainer = $("#summary");
                var filesContainer =  $("#files");

                $(resultContainer).show();
                $(summaryContainer).html("");

                for (var s = 0; s < data.summary.length; s++) {
                    var item = data.summary[s];
                    $(summaryContainer).append(item).append("</br>");
                }

                $(filesContainer).html("")
                    .append(createLink(data.resultAsSummaryFile))
                    .append(createLink(data.resultAsLogItemsFile))
                    .append(createLink(data.resultsAsJsonFile));

            })
            .then(() => {
                formData = null;
            });
    }

    function createLink(webFile) {
        const fileName = webFile.split(/(\\|\/)/g).pop();
        return `<a href=\"${webFile}\" class=\"text-white\" download=\"${fileName}\">${fileName}</a><br/>`;
    }
</script>

<style>
    #drop_zone {
        border: 5px dashed lightblue;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        font-size: 2rem;
    }
</style>